.user-dash {
  display: flex;
  height: 70px;
  align-items: center;
  font-size: 14px;
  color: gray;
  margin-top: 12px;
}
.user-img {
  width:70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 12px;
}
.user-dash-right {
  display: flex;
  flex-direction: column;
}
.user-dash-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.following {
  background-color: RGBA(73, 152, 64, 1.00);
  color: white;
  border-radius: 5px;
  padding: 2 6 2 6;
  margin-left: 5px;
  text-decoration: none;
}
.user-name {
  font-weight: 600;
  color: black;
  text-decoration: none;
}
